/* https://chromatone.vercel.app/ */

:root {
  --red-0: #000000;
  --red-10: #3f0300;
  --red-20: #660900;
  --red-30: #8f1200;
  --red-35: #a51600;
  --red-40: #ba1e00;
  --red-50: #de3818;
  --red-60: #ff5533;
  --red-70: #ff8a6f;
  --red-80: #ffb4a2;
  --red-90: #ffdad1;
  --red-95: #ffede8;
  --red-98: #fff8f6;
  --red-99: #fcfcfc;
  --red-100: #ffffff;

  --stat-color: var(--red-40);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: var(--red-70);
  text-align: center;
}

a {
  color: var(--red-80);
  text-decoration: none;
}

a:hover {
  color: var(--red-90);
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 24px;
}
.full-height {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.large-stat {
  font-size: 300%;
  color: var(--stat-color);
  line-height: 100%;
  margin: 16px;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stat {
  margin: 8px;
}

.broken-hearts {
  display: flex;
  font-size: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}

.months {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.month-stat {
  color: var(--stat-color)
}
/*
.sources {

} */
